* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(8, 91, 94);
}

button {
    color: aliceblue;
    cursor: pointer;
    background-color: burlywood;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    padding: 30px 100px;
}